{% extends 'layouts/base.html' %}
{% block page_title %}
  Memories
{% endblock %}
{% block body_content %}

  <blockquote>
    <p>In photography there is a reality so subtle that it becomes more real than reality.</p>
    <footer>Ansel Adams</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>This is how memories are made... by going with the flow.</p>
    <footer>Amnada Bayanse</footer>
  </blockquote>
  <blockquote>
    <p>Taking an image, freezing a moment, reveals how rich reality truly is</p>
    <footer>Ansel Adams</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>hat i like about photographs is that they capture a moment that’s gone forever, impossible to reproduce.</p>
    <footer>Karl Lagerfeld</footer>
  </blockquote>
{% endblock %}
